# These files will be ignored by Git and linting tools:
#	gulp lint
#
# Be sure to append /** to folders to have everything inside them ignored.

# All "dot directories".
.*/**

.idea
.npm-debug.log
package-lock.json
node_modules/**
coverage/**
packages/**
build/**
