html, body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;

	&.game-ready {
		transition: opacity .2s;
		opacity: 1;
	}
}

main {
	flex: 1;
	display: flex;
	align-items: center;
	padding-bottom: 0px;

	.wrapper {
		margin: 0 auto;
		display: inline-block;

		#game {
			margin: 5px;
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;

	p {
		margin: 0 10px 10px;
		text-align: right;

		svg {
			width: 28px;
			height: 28px;
		}
	}
}
