html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.game-ready {
	transition: opacity .2s;
	opacity: 1;
}

.wrapper {
	margin: 0 auto;
	display: inline-block;

	#game {
		margin: 5px;
	}
}

footer p {
	margin: 10px;
	text-align: right;

	svg {
		width: 28px;
		height: 28px;
	}
}
