body {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.wrapper {
	margin: 0 auto;
	display: inline-block;
}

#game {
	margin: 5px;
}

header {
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	h1 {
		margin: 20px 0;
		font-size: 24px;
		text-align: left;
	}

	.notification {
		background: #f3f3f3;
		padding: 20px;
		border-radius: 4px;
	}
}
